.tag {
  background: 0;
  border: 0;
  outline: 0;

  padding: 16px;

  font-size: 16px;
  color: var(--primary-text);
  background-color: var(--primary-background);
  border: 2px solid var(--secondary-background);

  transition: 0.3s;
  position: relative;
  cursor: pointer;
}

.tag :first-child {
  opacity: 1;
}

.tag :last-child {
  opacity: 0;
  font-weight: 600;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.tag:hover,
.tag.active {
  background-color: var(--secondary-background);
  color: var(--secondary-text);
}

.tag:hover :first-child,
.tag.active :first-child {
  opacity: 0;
}

.tag:hover :last-child,
.tag.active :last-child {
  opacity: 1;
}
